<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="trace">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%highlight{%d{HH:mm:ss.SSS} [%-5p][%-10.10t][%c][%M] - %msg%n}{TRACE=grey, DEBUG=green, INFO=cyan, WARN=yellow, ERROR=red}"
                    disableAnsi="false"/>
        </Console>
        <RollingFile name="RollingFile" fileName="logs/app.log"
                     filePattern="logs/archive/%d{dd-MM-yyyy}/app-%d{dd-MM-yyyy_HH}-%i.log.gz">
            <PatternLayout>
                <pattern>%d{HH:mm:ss.SSS} [%-5p][%-10.10t][%c][%M] - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="LogToConsole"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>